body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 10px;
}

/* navigatie */

header {
    grid-column: 1 / -1;
    height: 40px;
    border-bottom: 1px #d6d4d4 solid;
}

nav {
    display: grid;
    grid-template-columns: 50px 55px 3fr 8fr auto auto;
    grid-gap: 5px;
    align-content: center;
    height: 40px;
    padding: 0px 10px;
}

nav button {
    background-color: rgb(53, 87, 110);
    color: #ffffff;
    border: none;
    border-radius: 5%;
    padding: 5px 10px;
}

nav > * {
    align-self: center;
}

.tnyt {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* article */

h1 {
    grid-column: 5 / -5;
}

.hero {
    grid-column: 3 / -3;
    width: 945px;
}

figcaption {
    grid-column: 3 / 13;
    font-size: 12px;
}

article {
    grid-column: 5 / -5;
}

/* infographic */
.infographic {
    grid-column: 3 / -3;
}

.infogrey {
    color: #808080;
}

.infogr {
    position: relative;
}

.infographic img {
    width: 100%;
}

.igtcontainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: absolute;
    top: 0px;
}

.infgratxt {
    z-index: 2;
    width: 228px;
    font-size: 12px;

}

.igt1 {
    grid-column: 1 /2;
    grid-row: 2 /3;
}

.igt2 {
    grid-column: 2 /3;
    grid-row: 2 /3;
}

.igt3 {
    grid-column: 3 /4;
    grid-row: 2 /3;
}

.igt4 {
    grid-column: 4 /5;
    grid-row: 2 /3;
}

.igt5 {
    grid-column: 1 /2;
    grid-row: 4 /5;
}

.igt6 {
    grid-column: 2 /3;
    grid-row: 4 /5;
}

.igt7 {
    grid-column: 3 /4;
    grid-row: 4 /5;
}

.igt8 {
    grid-column: 4 /5;
    grid-row: 4 /5;
}

/* asides */
.side1 {
    grid-column: -4 / -1;
    grid-row-start: 5;
    margin-right: 20px;
    margin-top: 600px;
}

.side1 h3 {
    border-bottom: 1px solid #d6d4d4;
}

.side2 {
    border-top: 2px solid #d6d4d4;
    grid-column: 1 / 12;
    margin-left: 20px;
    
}

.side3 {
    border-top: 2px solid #d6d4d4;
    grid-column: 12 / -1;
    grid-row: 8 / 11;
    margin-right: 20px;
}

.side3 > * {
    display: block;
}

/* footer */

footer {
    grid-column: 1 / -1;
    border-top: 2px solid #d6d4d4;
    margin-right: 20px;
    margin-left: 20px;
}

.footcontainer {
    width: inherit;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

footer a {
    display: block;
    font-size: 12px;
}

footer h4 {
    margin: 5px;
}
